.aboutus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 34px;
    margin: 13px;
}

.aboutus-container img {
    width: 80%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(192, 84, 74);
}

.aboutus-container img :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.aboutus-text {
    padding: 20px;
    width: 75%;
    height: auto;

}

.text-introduction {
    font-size: 2rem;
    line-height: 52px;
    margin-bottom: 1.5em;
}
