/* General Styles */
body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #F4F1F1;
    color: #000000;
    line-height: 1.6;
    font-size: 20px;
}

h1 {
    font-size: 7rem;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-family: "Lexend", sans-serif;
    color: #000000;
    font-size: 2rem;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

img {
    width: 100%;
}

.header-cta {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta {
    background-color: #fff;
    color: #000000;
    border-style: solid;
    padding: 4px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-cyan {border-color: #2DE1EC;}
.cta-cyan:hover {background-color: #2DE1EC;}

.cta-pink {border-color: #E31E9E;}
.cta-pink:hover {background-color: #E31E9E;}

.cta-green {border-color: #08FF14;}
.cta-green:hover {background-color: #08FF14;}

.cta-orange {border-color: #FF6608;}
.cta-orange:hover {background-color: #FF6608;}

.flex-row {
    display: flex;
    flex-direction: row;
  }
  
.flex-column {
    display: flex;
    flex-direction: column;
  }
  
.justify-center {
    justify-content: center;
  }
  
.align-center {
    align-items: center;
  }

/* Header Styles & Navigation Styles */
.logo {
    position: sticky;
    padding: 30px;
    margin: 0;
    width: fit-content;
}

nav { 
    margin: 40px;
    font-family: "Lexend", sans-serif;
    color: #000000;
    text-decoration: #E31E9E;
    display: none;
    position: absolute;
    top: 27px;
  }
  
nav ul {
    display: inline-block;
    text-align : center;
  }
  
nav li {
    display: inline;
    padding: 11px;
    }
  
nav a {
    color: #000000;
    text-decoration: none;
    }
  
nav a:hover {
    color: #E31E9E;
    }
  
i {
    padding: 10px;
    margin: 5px;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }

    .current {
        color: #E31E9E;
    }

/* Footer Styles */

.footer-column {
    background-color: #000000;
    justify-content: space-evenly;
    padding: 9px;
}

.footer-column-one {

    text-align: left;
    color: #E31E9E;
}

.footer-column-two {
    text-align: left;
    color: #2DE1EC;
}

.footer-column-three {
    color: #FF6608;
}
.footer-column-three i {
    width: 20px;
    height: 20px;
}

.footer-column-three i:hover {
    background-color: #fff;
    border-radius: 50%;
    color: #000000;
    text-decoration: none;
}

.footer-column-three a {
    text-decoration: none;
}

.footer-title {
    font-weight: bold;
    font-size: 1.5rem;
}