/* General Styles */
body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #F4F1F1;
    color: #000000;
    line-height: 1.6;
    font-size: 20px;
}

h1 {
    font-size: 7rem;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-family: "Lexend", sans-serif;
    color: #000000;
    font-size: 2rem;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

img {
    width: 100%;
}

.header-cta {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta {
    background-color: #fff;
    color: #000000;
    border-style: solid;
    padding: 4px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-cyan {border-color: #2DE1EC;}
.cta-cyan:hover {background-color: #2DE1EC;}

.cta-pink {border-color: #E31E9E;}
.cta-pink:hover {background-color: #E31E9E;}

.cta-green {border-color: #08FF14;}
.cta-green:hover {background-color: #08FF14;}

.cta-orange {border-color: #FF6608;}
.cta-orange:hover {background-color: #FF6608;}

.flex-row {
    display: flex;
    flex-direction: row;
  }
  
.flex-column {
    display: flex;
    flex-direction: column;
  }
  
.justify-center {
    justify-content: center;
  }
  
.align-center {
    align-items: center;
  }

/* Header Styles & Navigation Styles */
.logo {
    position: sticky;
    padding: 30px;
    margin: 0;
    width: fit-content;
}

nav { 
    margin: 40px;
    font-family: "Lexend", sans-serif;
    color: #000000;
    text-decoration: #E31E9E;
    display: none;
    position: absolute;
    top: 27px;
  }
  
  nav ul {
    display: inline-block;
    text-align : center;
  }
  
  nav li {
      display: inline;
        padding: 11px;
    }
  
    nav a {
      color: #000000;
      text-decoration: none;
    }
  
  nav a:hover {
      color: #E31E9E;
    }
  
  i {
      padding: 10px;
      margin: 5px;
    }

    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }

    .current {
        color: #E31E9E;
    }

/* Footer Styles */

.footer-column {
    background-color: #000000;
    color: #fff;
    justify-content: space-evenly;
    padding: 9px;
}

.footer-column-one {

    text-align: left;
    color: #E31E9E;
}

.footer-column-two {
    text-align: left;
    color: #2DE1EC;
}

.footer-column-three {
    text-align: left;
    color: #FF6608;
}

.footer-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Homepage */

.header-container {
    position: relative;
}

.header-container img,
.explore-header-container img {
    object-fit: cover;
    height: 100%;
}

.header-text {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF6608;
    font-size: 3rem;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main-title {
    color: #000000;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.featured-event {
    position: relative;
    left: 12%;
}

.featured-event img {
    width: 45%;
    height: auto;
    padding: 11px;
    opacity: 0.82;
}

.featured-event:hover img {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.feature-date {
    position: absolute;
    top: 38px; 
    left: 48px;
    background-color: #08FF14;
    padding: 15px 15px;
    font-weight: bold;
}

.feature-text {
    position: absolute;
    top: 53%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    line-height: 0.5;
}

.feature-title {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    text-shadow: 0 4px 10px #08FF14;
}

.cta-feature {
    position: absolute;
    top: 63%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.event-container {
    justify-content: space-between;
    margin: 50px;
    width: 82%;
}

.event-list {
    position: relative;
    right: 14%;
}

.event {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 500px;
    padding: 3px;
    margin: 10px;
    border: 3px solid;
}

.event-orange { border-color: #FF6608; }
.event-pink { border-color: #E31E9E; }
.event-cyan { border-color: #2DE1EC; }
.event-lightblue { border-color: #94FACE; }
.event-blue { border-color: #289CB9; }
.event-green { border-color: #08FF14; }

.date-event {
    padding: 15px 15px;
    margin: 8px;
    font-weight: bold;
    width: 10%;
    background-color: inherit;
}

.date-orange { background-color: #FF6608; }
.date-pink { background-color: #E31E9E; }
.date-cyan { background-color: #2DE1EC; }
.date-lightblue { background-color: #94FACE; }
.date-blue { background-color: #289CB9; }
.date-green { background-color: #08FF14; }

.event-time {
    font-weight: bold;
    line-height: 10px;
}

/* Get Involved Page */

.getinvolved-header img {
    width: 50%;
    padding: 0px;
}

.getinvolved-header {
    background-color: #289CB9;
    color: #000000;
    width: 100%;
}

.getinvolved-header-text {
    padding: 30px;
}

.topnav a {
    color: #000000;
    text-decoration: none;
}

.getinvolved-container {
    background-image: url('../assets/container-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px;
    height: auto;
    display: flex;
} 

.support-box,
.support-box img {
    border: 3px solid #FF6608;
}

.getinvolved-container img {
    width: 35%;
    height: auto;
}


.volunteer-box,
.volunteer-box img {
    border: 3px solid #08FF14;
}

.internship-box,
.internship-box img {
    border: 3px solid #2DE1EC;
}

.box-content {
    width: 40%;
    height: auto;
    padding: 48px;
}

.volunteer-box {
    align-items: center;
}

/* Visit Us Page*/

.visitus-header {
    background-color: #E31E9E;
    color: #000000;
    justify-content: space-between;
    width: 100%;
}
.visitus-header h1 {
    position: relative;
    left: 7%;
}

.visitus-header img {
    width: 50%;
    padding: 0px;
}

.visitus-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.visitus-container-1 {
    justify-content: space-evenly;
    padding: 20px;
}

.visitus-info {
    color: #47413E;
    font-weight: bold;
}

.bg-pink {
    background-color: rgba(227, 30, 158, 0.3);
    border-radius: 7px;
    padding: 6px;
    margin: 2px;
}

.bg-color {
    padding: 6px;
    margin: 2px;
}

.visitus-container-2, .accessibility-box, .food-drink-box, .shop-box {
    background-image: url('../assets/container-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #E31E9E;
    padding: 16px;
    margin: 25px;
    height: auto;
}

.visitus-container-3 {
    justify-content: space-evenly;
    align-items: center;
}

/* Exhibitions Page*/

.header-container-exhibitions {
    position: relative;
}

.header-container-exhibitions img {
    height: auto;
}

.header-container-exhibitions h1 {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #94FACE;
    text-align: center;
}

.header-cta-exhibitions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exhibition-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 171px;
    width: 85%;
    margin: 1px auto;
    padding: 25px;
}

.exhibition-container img {
    height: auto;
    padding: 0px;
}

.exhibition-title {
    font-size: 40px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

.exhibition-text {
    padding: 9px;
}

.exhibition-1  {border: 3px solid #E31E9E;}
.exhibition-2  {border: 3px solid #94FACE;}
.exhibition-3  {border: 3px solid #08FF14;} 
.exhibition-4  {border: 3px solid #FF6608;}
.exhibition-5  {border: 3px solid #289CB9;}


/* Events Page */

.header-events {
    position: relative;
}

.header-events img {
    height: auto;
}

.header-events h1 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E31E9E;
    text-align: center;
}

.eventspage-container {
    gap: 80px;
    width: 95%;
    margin: 1px auto;
    padding: 50px 0px;
    justify-content: space-evenly;
}

.eventspage-container img {
    padding: 90px;
    width: fit-content;
}

.event-text {
    padding: 25px 100px;
}

.event-date-time {
    font-weight: bold;
    font-size: 32px;
}

.event-1 { background-color: #2DE1EC;}
.event-2 {background-color: #08FF14;}
.event-3 {background-color: #FF6608;}

/* Explore Page */

.explore-header-container{
    position: relative;
}

.explore-header-text {
    position: absolute;
    top: 19%;
    left: 32%;
}   

.explore-header-container h1 {
    color: #E31E9E;
}

.topnav-explore {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.topnav-explore a {
    float: left;
    color: #000000;
    padding: 5px 40px;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
}

.explore-container img,
.explore-container-middle img,
.explore-container-last img {
    width: 50%;
    height: auto;
    padding: 18px;
}

.explore-container,
.explore-container-middle,
.explore-container-last {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 50px 25px;
}

.explore-container {background-color: #289CB9;}
.explore-container-middle {background-color: #08FF14;}
.explore-container-last {background-color: #94FACE;}

.explore-text {
    text-align: left;
}


/* Media Queries */

@media (max-width: 1936px) {
    
    .header-text h1 {
        font-size: 6rem;
        white-space: nowrap;
    }

    .event-container {
        flex-direction: column;
        margin: 47px;
        width: 65%;
        }

    .featured-event {
        left: 50%;
        }
        
    .event-list {
        right: -23%
    }
    .feature-date {
        top: 6px;
        left: 29px;
    }

    .feature-text {
        left: 23%;
    }

    .cta-feature {
        left: 22%;
    }

    .visitus-header img {
        display: none;
    }

    .getinvolved-header img {
        display: none;
      }

    .explore-container img,
    .explore-container-middle img, .explore-container-last img {
        display: none;
    }

     .explore-header-text {
        left: 16%;
  }
}

@media (max-width: 1892px) {
    .header-text h1,
    .visitus-header h1,
    .header-events h1,
    .getinvolved-header h1,
    .explore-header-text h1 {
        font-size: 5rem;
}
    .explore-header-text {
        left: 31%;
}

    }

@media (max-width: 1289px) {

.header-text h1,
.header-container-exhibitions h1{
    font-size: 67px;
    white-space: nowrap;
}

.header-text {
    top: 29%;
    font-size: 18px;
    bottom: 35%;
}

.header-cta {
    font-size: 15px;
    white-space: nowrap;
}

.featured-event {
    left: 39%;
}
.featured-event img {
    width: 60%;
}
.feature-text {
    left: 30%;
  }

.cta-feature {
    left: 29%;
    font-size: 1rem;
  }
.visitus-container-3 {
    flex-direction: column;
  }

  .explore-header-text {
    left: 23%;
    white-space: nowrap;
}

}

@media (min-width: 1081px) {

    header {
        justify-content: baseline;
      }

nav {
    display: block;
    position: static;
    font-size: 23px;
  }

  header label {
    display: none;
  }

  nav li {
    display: inline-block;
  }
}

@media (max-width: 980px) {

    body {
        font-size: 15px;
    }

    .header-text h1 {
        font-size: 35px;
    }

    .footer-column-one,
    .footer-column-two,
    .eventspage-container img {
        display: none;
    }

    .featured-event {
        left: 24%;
    }

    .featured-event img {
        width: 85%;
    }

    .feature-text{
        font-size: 18px;
        left: 45%
    }

    .feature-title {
        font-size: 20px;
    }
    .cta-feature {
        left: 44%;
    }
    .event-list {
        right: -20%;
    }

    .visitus-container-1{
        flex-direction: column;
    }
    .explore-header-text {
        left: 9%;
    }
}

@media (max-width: 801px) {
    .header-cta,
    .cta-feature,
    .topnav,
    .topnav-explore,
    .getinvolved-container img {
        display: none;
    }

    .header-text h1{
        top: 29%;
        bottom: 35%;
    }
    .header-text {
        white-space: nowrap;
        bottom: 66%;
    }
    .featured-event {
        left: 26%;
    }
    .feature-text {
        white-space: nowrap;
    }
    .event-list {
        right: -14%;
    }

  .exhibition-container {
        width: 50%;
        gap: 20px;
        margin: -15px;
    }
}

@media (max-width: 799px) {

    .featured-event {
        left: 21%;
    }

    .event-list {
        right: -16%;
    }

  .event-text {
        padding:25px;
    }

  .event-text h2 {
        font-size: 28px;
    }

  .event-date-time {
        font-size: 23px;
    }

.box-content {
        width: 89%;
        padding: 0px;
    }

.getinvolved-header-text {
        padding: 20px;
    }

.explore-header-text h1{
        left: 10%;
        white-space: nowrap;
        font-size: 70px;
    }
}

@media (max-width: 600px) {

    .header-text {
        white-space: nowrap;
        font-size: 18px;
        bottom: 66%;
    }

    .header-text h1,
    .header-events h1 {
        font-size: 28px;
    }

    .feature-date,
    .cta-feature,
    .header-cta-exhibitions {
        display: none;
    }

    .feature-text {
        font-size: 12px;
        top: 57%;
    }
    .featured-event {
        left: 10%;
    }

    .feature-title {
        font-size: 16px;
        white-space: nowrap;
    }

    .event-container {
        width: 67%;
    }

    .event {
        width: 300px;
        padding: 0px
    }
    .event-list {
        right: -5%;
    }

    .explore-header-text {
        left: 11%;
    }

    .header-container-exhibitions h1,
    .explore-header-text h1,
    .visitus-header h1{
        font-size: 48px;
        bottom: 9%;
    }
}

@media (max-width: 500px) {
    .header-container-exhibitions h1{
        bottom: -9%;
    }
    .explore-header-text h1{
        font-size: 38px;
    }
}